<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
        <div class="section-title">
            <h1>Frequently Asked Questions</h1>

            <h3 class = "announcement">How and when can I start using the bikes?</h3>
            <p>Please reference our handy dandy “instructions” for this. In short, once you either create an account, 
            log in with your account, or log in as a guest and then start a rental, entering payment information, 
            you may ride to your heart’s content. Please return the bike when you’re finished.</p>
            
            <h3 class = "announcement">I’m visiting the area for a short time. Should I still make an account?</h3>
            <p>“Short” is relative, but we do have payment options by month for visitors or lower commitment users!</p>
            
            <h3 class = "announcement">Can I use the same email to create multiple accounts?</h3>
            <p>No. One account per email. However, you may delete your present account if you’d like to create a new one from it.</p>
            
            <h3 class = "announcement">There aren’t any bikes at this station. Where are the bikes? Show me the bikes!</h3>
            <p>Your wish is our command. Please navigate to the “map” page, and green markers will indicate stations 
            that have bikes. Grey markers show stations that are currently empty. If you can locate yourself on the map, 
            you can see which stations that have bikes are closest to you. Alternatively, you can look through the “search” page, 
            which lists the stations and bike availability by station.</p>
            
            <h3 class = "announcement">Need I return the bike to the same station from whence it was retrieved?</h3>
            <p>No, my liege. You can return a bike to any empty dock in any station. Find stations via the “map” or 
            “search” pages.</p>
            
            <h3 class = "announcement">Why do some of your stations not have docks or even exist?</h3>
            <p>This is a valuable lesson in gratitude and totally not an oversight. That said, please report if this 
            happens to valetbike@valetbike.com.</p>
            
            <h3 class = "announcement">I don’t want to be tracked by Big Bicycle, but I want the breeze on my face and sunshine on my skin as I put 
            pedal to metal on one of your glorious, beautiful bikes. Is this possible?</h3>
            <p>Yes! Feel free to start your rental session as a guest, and information about your rental will be anonymized.</p>
            
            <h3 class = "announcement">What’s stopping me from stealing a bike if I sign-in as a guest?</h3>
            <p>The same thing that’s stopping you if you sign in with an account. Even if you’re signed in as a guest, your payment 
            data is stored until the session finishes. To finish the session, you must return the bike. </p>
            
            <h3 class = "announcement">So does that mean that if I’m, say, approaching the sweet release of death, and I want to own a bike for cheap with small, 
            incremental down payments that will take a while to accumulate to the proper price of a bike, I should just steal one of your bikes?</h3>
            <p>We would be lying if we said that this wasn’t an option for you, but please know that you will incur debt that will be passed 
            onto your next-of-kin or whomever you have addressed in your will.</p>
            
            <h3 class = "announcement">What if I have no next-of-kin?</h3>
            <p>Enjoy your new bike.</p>

            <h3 class = "announcement">Leftover questions? Message us at <a href="mailto: valetbike223@gmail.com" style = "color: var(--light-text-color)"> valetbike223@gmail.com</a>.<h3>

        </div>
    </div>
</div>
