<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
        <div class="section-title">
            <h1>Welcome to ValetBike!</h1>

            <h3>About Us</h3>
            <p>ValetBike is a bike-renting business in Nipmuc Notch. We have stations all over for you to use! To start the rental process, you can click on Map to see stations in your area, or Search to look for specific stations.</p>
            <p>We are a fun eclectic family business :)</p>

            <h3>Announcements</h3>
            <p>Unfortunately, ValetBike is closed in winter.</p>
            <%= @current_user %>

            <h3>Pricing</h3>
            <p>FREE! For now...</p>

            <h3>Contact</h3>
            <p><a href = "mailto: valetbike223@gmail.com">valetbike223@gmail.com</a></p>
            <p>(413)-123-4567</p>

        </div>
    </div>
</div>
