<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      ValetBike: Explore Nipmuc Notch
    </div>  

    <a class="toggle" href="<%= bikes_path %>">View Bikes</a>
    <a href="/search">Search</a>

    <div class="flexbox vertical stretch" id="s" style="display:block">
      <% if @stations.present? %>
        <div class="record-row header flexbox horizontal justify-space-between">
          <% if params[:reverse].blank? || params[:reverse] == "0" %>
            <a href="<%= stations_path(params: {reverse: 1})%>"> Sort (desc) </a>
          <% else %>
            <a href="<%= stations_path %>"> Sort (asc) </a>
          <% end %>
        </div>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
        <div class="empty">
          No stations found.
        </div>
      <% end %>
    </div>
	</div>
</div>
