<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
        <div class="section-title">
            
            <h1>Meet the team!</h1>

            <div class = "announcement">
                <h4>CEO</h4>
                <h3>Mercer Kriese</h3>
                <p></p>
            </div>

            <div class = "announcement">
                <h4>CTO</h4>
                <h3>Ka[??take your pick] Kung</h3>
                <p></p>
            </div>

            <div class = "announcement">
                <h4>CIO</h4>
                <h3>Lucia Vaccaro</h3>
                <p></p>
             </div>

            <div class = "announcement">
                <h4>COO</h4>
                <h3>Yurika Nakagawa</h3>
                <p></p>
            </div>

            <div class = "announcement">
                <h4>CFO</h4>
                <h3>Hillary Dunkley</h3>
                <p></p>
            </div>

            <div class = "announcement">
                <h4>CMO</h4>
                <h3>Audrey Kim</h3>
                <p></p>
            </div>

        </div>
    </div>
</div>
