<div class="page-section flexbox vertical stretch contentttt">
    <div class="section-inner flexbox vertical stretch ">
        <div class="section-title">

        <%# view displays the search bar and subsequent search results #%>

            <h2>Search</h2>

            <h3>Search by Station Name</h3>

            <%= form_tag(search_path(@name), method: :get) do %>
                <%= text_field_tag :name, params[:name] %>
                <%= submit_tag 'Search', class: "button"%>
            <% end %>

            <br>

            <div class="flexbox vertical stretch" id="s" style="display:block">
                <% if @stations.present? %>
                    <div class="record-row header flexbox horizontal justify-space-between"></div>
                    <%= render(partial: "stations/row", collection: @stations, as: :station) %>
                <% else %>
                    <p>
                        No stations found.
                    </p>
                <% end %>
            </div>
            
        </div>
    </div>
</div>
