<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <h1><%= @station.name %></h1>

      <div>
        <p>Address: <%= @station.address %><p>
        <p><%= @station.bikes.count %> bikes docked</p>
        <button> <%= link_to("RENT NOW", "/rental") %> </button>
      </div>

      <div>
        <img src="">
      </div>


    </div>
  </div>
</div>