<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">

  <%# displays a confirmation message for users after they have successfully created an account. #%>

    <div class="section-title">

    <h2>Account Confirmation</h2>

    </div>

    <p>Congratulations! Your account has been created. Welcome to ValetBike!</p>

    <% if cookies[:current_station] %>
      <% s = cookies[:current_station] %>
      <% cookies.delete(:current_station) %>
      <%= link_to("Resume Rental", rental_path(s)) %>
    <% end %>

  </div>
</div