<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

    <h2>FAQ</h2>

    <h3>What is the difference between a membership and pay by ride?</h3>
    <p>A membership is a monthly or annual payment allows you to rent a bike as frequently as you wish within the period for which your memberhship is active. When you pay by ride, the price depends on how much time you ride the bike for.</p>

    <h3>Where can I ride a bike?</h3>
    <p>You can ride the bike wherever you want, but you must return it to a ValetBike station. If you do ride more than 10 miles away from the nearest station, keep in mind that in the event of an issue such as a flat tire, you will be responsible for transporting the bike back to a ValetBike station.
</p>

    <h3>How many bikes can I rent at a time?</h3>
    <p>There is not a limit to how many bikes you can rent at a time. Each bike must be made through its own rental process and must be returned separately from the Current Rides page.</p>

    <h3>How do I take a bike out of a dock?</h3>
    <p>After you follow the online steps to unlock a bike (Start with <%= link_to "Search", "/search" %> or <%= link_to "Map", "/map" %>), the dock will be automatically unlocked at the moment you click "Unlock Now". Then simply approach the bike and lift it out of the dock.</p>

    <h3>How do I return a bike?</h3>
    <p>Approach a station and put your bike into the dock slot, in the way it was when you removed it at the beginning of you ride. Navigate to the "Current Rides" page via the banner that appears at the top of the screen while you have rides in progress. Then click "Return Bike" next to the bike you want to return and follow the instructions.</p>

    <h3>What do I do if I get a flat tire while not near a station?</h3>
    <p>If you are within 10 miles of a ValetBike station, call 413-123-4567. We will stop the time on your ride and pick up the bike. If you are more than 10 miles from the nearest ValetBike station, you are responsible for transporting the bike back to a station and calling us to let us know the bike has a flat tire.
</p>

    <h3>Do I have to return the bike to the same station I rented it from?</h3>
    <p>No, you can return the bike to any ValetBike station with an empty dock.</p>

    <h3>What do I do if there are no empty docks at the station where I want to return my bike?</h3>

    <h3>What do I do if there are no bikes available at the station?</h3>
    <p>Unfortunately, this means you will need to go to a different station in order to rent a bike. From the <%= link_to "Map", "/map" %> tab, you can quickly see which stations have at least one bike because those stations’ markers are green.
</p>

    <h3>What do I do if someone steals my bike during my rental?</h3>
    <p>Unless you can provide proof that someone stole your bike, we will assume that you stole it and charge you accordingly.</p>

    </div>  

  </div>
</div>