<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <h2>Login Options</h2>

      <div>
      <%= button_to "Log In or Create Account", "/user_login", :method => "get", :class => "button altbutton" %>
      <%= button_to "Continue as Guest", start_guest_path, :method => "post", :class => "button altbutton" %>
      </div>
      </div>
      </div>
    