<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

      <h1>Welcome, <%= @user&.firstName %></h1>

      <button> <%= link_to("Your past purchases", "/past_purchases")%> </button>

      <table>
        <tr>
        <th></th>
        <th>This Month</th>
        <th>This Year</th>
        <th>All Time</th>
        </tr>
        <tr>
        <th>Trips taken</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        <tr>
        <th>Time ridden:</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        <tr>
        <th>Miles ridden:</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        <tr>
        <th>Longest ride:</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>

        <!-- Add styling for the table ^^ -->


      
    </div>  
  </div>
</div>