<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

      <h1>Welcome, <%= @user&.firstName %></h1>
      
    </div>  
  </div>
</div>