<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

    <h1>Your Past Purchases</h1>

    <!-- Add thingy to the right with the user's name -->

    <table>
        <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Start Station</th>
        <th>End Station</th>
        <th>Cost</th>
        </tr>
        <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </table>

    </div>
  </div>
</div> 

    <!-- Continuous table styling ^^ -->