<style>
    #rectangle{
        width:50px;
        height:100px;
        border-radius: 10px;
        display: inline-block;
    }
</style>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

      <h1>Choose Your Bike</h1>
      <p>You are at <%= @station.name %>.</p>
      
        <% @station.docks.each do |dock| %>
            <% if dock.bike.identifier %>
                <div id="rectangle" style="background:green"></div>
            <% else %>
                <div id="rectangle" style="background:gray"></div>
            <% end %>
        <% end %>

      <p> There are <%= @station.docks.count %> docks here.
      <p> There are <%= @station.bikes.count %> bikes here.

      
    </div>  
  </div>
</div>