<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

    <h1>Subcription Successful!</h1>
        
    <p> Thank you for subscribing. Enjoy your bikes! <p>

    </div>  
  </div>
</div>