<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div class="page-section flexbox vertical stretch">
      <div class="section-inner flexbox vertical stretch">
    <section class="section-title">
      <div class="product">
      </div>
      <form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button"  class="button">Checkout</button>
      </form>
    </section>
    </div>
    </div>
  </body>
</html>