<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

        <h1>Your Current Bikes</h1>

    </div>

    <p>You currently have: bike</p>
    <button> <%= link_to("View Map", "/map") %> </button>

    <p>Please return your bike to a ValetBike station by: <%= @rental.predicted_end_time %> </p>
        <p>Happy Riding!</p>
        
    <p>To return a bike, approach a station and type in the code on the dock you wish to return it to.</p>

    <button> <%= link_to("Return Bike", receipt_path) %> </button>

    <!-- need to add form for input re: dock ID verification ->

  </div>
</div>