<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">

        <h1>Receipt</h1>

    </div>

    <div>
        <p>Start Station:</p>
        <p>End Station:</p>
        <p>Time:</p>
    </div>

    
  </div>
</div>