<style>
  .availbike {
    background-color: #55A135;
    color: white;
  }
  .availbike:hover {
    background-color: #A0B64A;
    color: black;
  }
  .notavailbike {
    background-color: gray;
    color: black;
  }
  .rental{
    width: 70px;
    height: 130px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 3px;
  }
  .allbikes {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
  }
</style>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <h1>Choose Your Bike</h1>
    </div>  

    <h3>You are at <%= @station.name %>.</h3>
    <p> There are <%= @station.docks.count %> docks here, and <%= @station.bikes.count %> bikes are available. </p>
    <p> Select your bike below. </p>
    <div class = "allbikes">
      <% @station.docks.each do |dock| %>
          <% if dock.bike %>
            <%= button_to(dock.bike.identifier, confirm_path(@station.identifier, dock.bike.identifier), :method => "get", :class => "rental availbike") %>
          <% else %>
            <button class="rental notavailbike"> ___ </button>
          <% end %>
      <% end %>
    </div>
  </div>
</div>