<!DOCTYPE html>
<html>

<%# displays message confirming that the user's Stripe payment was successful and allows user to unlock their bike to begin #%>
<%# the rental. #%>

<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="page-section flexbox vertical stretch">
<div class="section-inner flexbox vertical stretch">
  <section class="section-title">
    <h2>Payment Successful</h2>
    <p>DO NOT LEAVE THIS PAGE UNTIL YOU HAVE CLICKED 'UNLOCK NOW'.</p>
    <p>
      We appreciate your business! If you have any questions, please email
      <a href="mailto:valetbike223@gmail.com" style = "color: var(--light-text-color)">valetbike223@gmail.com</a>.
    </p>
    <br>
    <% @station = Station.find_by(name: cookies[:station]) %>
    <% cookies.delete(:station) %>
    <% @bike = Bike.find_by(identifier: cookies[:bike]) %>
    <% cookies.delete(:bike) %>

    <p>Station: <%= @station.name %> </p>
    <p>Bike: <%= @bike.identifier %> </p>

    <div class="bike-buttons">
    <%= form_with url: rent_path(@station.identifier, @bike.identifier, params[:duration]), method: 'post' do |form| %>
      <%= form.submit("UNLOCK NOW", :class => "button") %>
    <% end %>
    </div>

  </section>
  </div>
  </div>
</body>
</html>