@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/*

- This is a manifest file that'll be compiled into application.css, which will include all the files
- listed below.
- 
- Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
- vendor/assets/stylesheets directory can be referenced here using a relative path.
- 
- You're free to add application-wide styles to this file and they'll appear at the bottom of the
- compiled file so the styles you add here take precedence over styles defined in any other CSS
- files in this directory. Styles in this file should be added after the last require_* statement.
- It is generally better to create a new file per style scope.
- 
- = require_tree .
*= require_self
*/

/* basics ---------------------------------------------- */
* {
    font-family: 'Comfortaa';
    font-weight: 700;
}

:root {
    --light-bg-color: #f7f9f5;
    --light-text-color: #3e7527;
    --dark-bg-color: #444038;
    --dark-text-color: #f7f9f5;
    --color2: #E39F5F;
    --color3: #A0B64A;
    --color4: #E2AB69;
    --xlarge: 48px;
    --large: 36px;
    --medium: 24px;
    --small: 20px;
}      
   
h2 {
    font-size: var(--large);
}

h3 {
    font-size: var(--medium);
    margin-bottom: 5px;
}

p {
    font-size: var(--small);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    margin: 0px;
}

p a {
    color: var(--light-text-color);
}

input, select, textarea {
    color: var(--dark-bg-color);
}

i {
    text-align: center;
}

nav {
    background-color: var(--light-text-color);
    text-align: center;
    font-size: var(--medium);
    display: flex;
     border-radius: 10px;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 70%;
    margin: auto;
}

nav li a {
    color: var(--light-bg-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--color2);
    text-decoration: none;
}

footer {
    margin-top: auto;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
    font-size: var(--small);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
}

footer .content {
    display: inline-flex;
    float: right;
    text-align: right;
}

footer a {
    color: var(--dark-text-color);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    color: var(--dark-text-color);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

footer a:hover {
    text-decoration: underline;
}

footer .col {
    margin: 0px 40px;
}

footer .bow {
    margin: 30px;
    vertical-align: middle;
}

.alert {
    color:#E39F5F;
}

.page-section {
    display: flex;
    flex-direction: column;
    min-height: 650px;
}

.section-title {
    width: 80%;
    margin-left: 0px;
}

.section-inner.flexbox.vertical.stretch {
    padding: 10px;
    width: 70%;
    margin: auto;
}

.page-content {
    min-height: 100vh;
    margin-bottom: -142px;
}

.page-content:after {
    content: "";
    display: block;
}

.footer-container, .page-content:after {
    margin-top: auto;
} 

#map {
    height: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 15%;
    margin-right: 5%;
}

#logo a:hover {
    animation-name: wiggle;
    animation-duration: 1s;
}

#input {
    width: 30%;
}

input[type="text"], #textbox { 
    padding: 5px; 
    line-height: 28px; 
    border: 2px solid var(--color2);
    border-radius: 5px;
}

/* current ride banner related -------------------------- */

#rectangle {
    width: 100%;
    height: 30px;
    background: var(--color3);
}

.current_banner {
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 35px;
}

.current_banner a {
    color: #444038;
}

/* buttons ---------------------------------------------- */
.button {
    background-color: var(--light-text-color);
    border: 3px solid var(--light-text-color);
    color: var(--light-bg-color);
    padding: 15px 32px;
    border-radius: 10px;
    margin: 15px 0px;
}

.button:hover {
    color: var(--light-bg-color);
    border-color: var(--color2);
    background-color: var(--color2);
}

.button:visited {
    color: var(--light-bg-color);
}

.altbutton {
    background-color: #FFFFFF;
    border: 3px solid var(--color2);
    color: var(--color2);
}

.deletebutton {
    background-color: #FF0000;
    border-color: #FF0000;
    color: "white";
}

.profile-button-wrap {
    text-align: center;
}

.profilebuttondiv {
    display: inline-block;
}

/* tables ---------------------------------------------- */
th {
    padding: 10px 15px;
    height: 30px;
}

table {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color: #f7f9f5;
    border: 4px solid var(--color3);
    border-collapse: collapse;
    color: var(--light-text-color);
}

tr {
    text-align: left;
}

td {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

/* choose your bike related ---------------------------------------------- */
.availbike {
    background-color: #55A135;
    color: white;
}

.availbike:hover {
    background-color: #A0B64A;
    color: black;
}

.notavailbike {
    background-color: gray;
        color: black;
}

.rental{
    width: 70px;
    height: 130px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 3px;
}

.allbikes {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

/* wiggly bowtie ---------------------------------------------- */
.bow {
    background-image: url("bow0.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--light-text-color);
    width: 150px;
    height: 80px;
    margin-top: 8%;
    margin-left: 5%;
}

.bow:hover {
    animation-name: wiggle;
    animation-duration: 1s;
}

@keyframes wiggle {
    0%   {background-image: url("bow0.png")}
    30%  {background-image: url("bowr.png")}
    90%  {background-image: url("bowl.png")}
    100% {background-image: url("bow0.png")}
}

/* inspired by: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_cards2*/
/* search result card ---------------------------------------------- */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 430px;
    border-radius: 5px;
    margin-inline-end: 5%;
    margin-bottom: 5%;
    position: relative;
    float:left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 16px 16px;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 5px 5px;
}

.container span {
    color: var(--color2);
}

.select-btn {
    border-radius: 5px 5px;
    padding: 5px 5px;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.select-btn a {
    text-decoration: none;
}

/* announcement card (card without a picture) ------------------------------ */

.announcement{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-inline-end: 5%;
    margin-bottom: 5%;
    padding: 15px 20px 20px 15px;
    position: relative;
    border-radius: 5px;
}

/* main page (station#index) related -------------------------------------- */

.home-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 15px 20px 20px 15px;
    display:inline-flex;
    align-items:inline-block;
    align-content: center;
}

.home-card a {
    color: var(--light-text-color);
}

.home-card-icon {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 200px;
    border-radius: 5px;
    padding: 15px 20px 20px 20px;
    margin-left: auto;
    margin-right: 3%;
    margin-bottom: 3%;
    display: inline-flex;
    align-items: inline-block;
    align-content: center;
    block-size: 15%;
    width: 17%;
    height: 250px;
    float: left;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto;
}

#icon-above-text {
    position: relative;
    left: calc(40% - 20px);
}

#text-below-icon {
    float: left; 
    clear: left;
    text-align: center;
} 

.cover-image {
    position: relative;
    width: 100%;
}

.title { 
    position: absolute;
    top: 8px;
    right: 25px;
    color: var(--light-bg-color); 
}

#cover-image {
    width: 100%;
    height: 40%;
    border-radius: 0px 0px 10px 10px;
}

#cover-button {
    position: absolute;
    bottom: 50px;
    right: 75px
}

/* current ride related -------------------------------------- */

.bike-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 15px 20px 150px 15px;
    display: flex-column;
    align-items:inline-block;
    text-align: left;
}

.bike-card .button {
    display: inline-flex;
    float: right;
    margin-left: 5%;
}

/* station-view images -------------------------------------- */
.station-image {
    width:100%;
    height:450px;
}

.station-image img {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* meet us page related ---------------------------------------------- */
.office-loc p {
    font-size:medium;
}

.team-intro {
    text-align:justify;
}

.team-intro .content {
    text-align:center;
}

.team-image {
    position:relative;
    width: 50%;
}

.team-mem-image {
    width: 15%;
    float: left;
    padding-right: 20px;
}

#office-map-image {
    width: 50%;
    float: left;
    margin-top: 10px;
    margin-right: 30px;
    border: 5px solid #555;
}

/* responsive  ---------------------------------------------- */
@media (max-width: 1500px) {
    .card {
        width: 100%;
        height: auto;
        border-radius: 0%;
        margin: 0%;
        margin-bottom: 5%;
        position: relative;
    }

    .select-btn {
        top: 10%;
    }

    .home-card-icon{
        width: 100%;
        margin-bottom: 3%;
    }
}

/* light mode ---------------------------------------------- */
@media (prefers-color-scheme: light) {
    body {
        background: var(--light-bg-color);
        color: var(--light-text-color);
    }

    h1 {
        color: var(--light-text-color);
        margin-bottom: 10px;
    }

    body.dark {
        background: var(--dark-bg-color);
        color: var(--dark-text-color);
    }
    h1.dark {
        color: var(--dark-text-color);
    }

    a.dark {
        color: var(--dark-text-color)
    }

    ul.dark {
        color: var(--dark-text-color)
    }
    
}

/* dark mode ---------------------------------------------- */
@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark-bg-color);
        color: var(--dark-text-color);
    }

    h1 {
        color: var(--dark-text-color);
        margin-bottom: 10px;
    }

    body.light {
        background: var(--light-bg-color);
        color: var(--light-text-color);
    }

    h1.light {
        color: var(--light-text-color);
        font-size: var(--xlarge);
    }

    a.light {
        color: var(--light-text-color)
    }

    ul.light {
        color: var(--light-text-color)
    }
}