@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    font-family: 'Comfortaa', cursive;
    cursor: url();
    font-weight: 700;
}

:root{
    --color1: #f7f9f5;
    --color2: #3e7527;
    --color3: #A0B64A;
    --color4: #E39F5F;
    --color5: #E2AB69;
    --xlarge: 48px;
    --large: 36px;
    --medium: 24px;
    --small: 20px; 
}

/* nav bar */
nav{
    background-color: var(--color2);
    text-align: center;
    font-size: var(--small);
    display: flex;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 30px 0px 20x; 
}
nav ul {
    padding: 0;
    display: flex;
    justify-content: end;
    list-style-type: none;
    width: 90%;
    margin: auto;
    margin-right: 3%;
}
nav li a {
    color: var(--color1);
    text-decoration: none;   
}
nav li {
    padding-left: 10%;
}
nav li a:hover {
    color: var(--color5);
}
#logo {
    width: 40%;
    float: left;
    margin-left: 2%;
}

/* text stuff */
h1 {
    font-size: var(--xlarge);
    color: var(--color2);
    margin-bottom: 10px;
}
h3 {
    font-size: var(--medium);
    margin-bottom: 5px;
}
p {
    font-size: var(--small);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    margin: 0px;
}

/* map, obvi */
#map { 
    height: 500px; 
    width: 100%;
}

/* this is the class for general page styling */
.section-inner.flexbox.vertical.stretch{
    padding: 10px;
    width: 70%;
    margin: auto;
} 

/* buttons and such */
.button {
    background-color: var(--color2);
    border: none;
    color: var(--color1);  
    padding: 15px 32px;
    border-radius: 10px;
    margin: 15px 0px;
}
.button:hover{
    color: var(--color1);
    background-color: var(--color4);
}

#rectangle{
    width:100%;
    height:30px;
    background: var(--color3);
}
#input{
    width: 30%;
}
.button:visited {
    color: var(--color1);
}
#profilebuttons {
    display: flex;
    justify-content: space-around;
}
.altbutton {
    background-color: var(--color1);
    color: var(--color4);
}

/* tables */
th {
    padding: 10px 15px;
    height: 30px;
}
table {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color: #f7f9f5;
    border-collapse:collapse;
    border-radius: 10px;
}
tr {
    text-align: left;
}
td {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
tr:nth-child(even) {
    background-color: white;
}


