<div>
    <footer>
        <h3>
            Contact
        </h3>

        <p>
            <a href="mailto: valetbike223@gmail.com">
                valetbike223@gmail.com
            </a>
        </p>

        <p>(413)-123-4567</p>

        <h3>FAQ</h3>
    </footer>
</div>